.containerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A813B7;
    height: 100px;
    width: 100%;
    box-shadow: 0 0 0 10px white;
}

.containerLink li {
    list-style: none;
    text-decoration: none;
}

.containerLink a {
    color: white;
    text-decoration: none;
    position: relative;
    padding: 10px;
}

.containerLink {
    display: flex;
    font-size: 1.8rem;
}


.titleStyle {
    display: flex;
    margin: 15px;
    align-items: center;
    color: white;
}

.titleStyle span {
    font-size: 2.3rem;
    color: pink;
}

.titleStyle h1 {
    font-size: 2.1rem;
}

.itemToggle {
    display: none;
}

.titleToggle{
    display: none;
}

@media (max-width: 760px) {

    .containerLink {
        position: absolute;
        top: 100px;
        left: 0;
        background-color: #D618E7;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 2.5rem;
        width: 100%;
        height: -webkit-fill-available;
        transform: translateX(-100%);
        transition: 0.3s ease all;
    }

    .containerLink a{
        color: black;
        padding: 20px;
        
    }

   .open {
    transform: translateX(0) !important;
  }

    .itemToggle {
        display: flex !important;
        flex-direction: column;
        margin: 15px;
        cursor: pointer;
    }

    .itemToggle span {
        width: 30px;
        height: 4px;
        background-color: white;
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }

    .open>span:nth-child(1) {
        transform: rotate(45deg) translate(0px, 0px);
    }

    .open > span:nth-child(2) {
        display: none;
    }

    .open > span:nth-child(3) {
        transform: rotate(-45deg) translate(-5px, 1px);
    }

    .titleToggle {
        display: flex !important;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .titleToggle p{
        color: white;
        font-size: 3rem;
    }
}