.SliderContainer {
  max-width: 1200px;
  margin: 20px auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.SliderContainer h2{
    text-align: center;
    font-size: 2rem;
}

.SliderStyles {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 20px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  text-align: center;
  height: 300px;
  width: 200px;
  box-sizing: border-box;
}

.slick-slide {
  padding: 0 15px; /* espacio lateral */
  box-sizing: border-box;
}

.slick-track {
  display: flex !important;
  align-items: center;
}

.slick-slider {
  width: 100%;
  padding: 10px 0;
}

.estrella{
    color: gold;
}

@media (max-width: 768px) {
  .slick-prev,
  .slick-next {
    display: none !important;
  }

  .SliderStyles {
    width: 300px !important; /* ocupa casi todo el ancho del móvil */
    height: 200px !important;
    margin: 0 auto; /* centrado */
    height: auto;
    padding: 25px 15px;
    font-size: 0.95rem;
  }

  .slick-slide {
    padding: 0 180px; /* menos espacio lateral */
  }

  .SliderContainer h2 {
    font-size: 1.5rem; 
     }
  }