body {
    background-color: black;
}

/* Contenedor principal */
.contactoContainer {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding-top: 70px;
    gap: 20px;
    overflow: hidden;
}

/* Orb de fondo */
.orbBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 10;
    filter: blur(30px);
}

/* Contenido encima del orb */
.content {
    position: relative;
    z-index: 1;
}

.titleContacto {
    font-size: 3rem;
}

.contactoText {
    padding: 20px;
    text-align: center;
    font-size: 1.4rem;
}

/* Tarjetas */
.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card1, .card2, .card3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px;
    width: 250px;
    height: 400px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card1 { background-color: #333; }
.card2 { background-color: #290245; }
.card3 { background-color: #333; }

.card2 li {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

.card1:hover, .card2:hover, .card3:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

/* Mapa */
.mapContainer {
    margin-top: 50px;
    z-index: 2;
}

/* Responsivo */
@media (max-width: 760px) {
    .contactoContainer {
        padding-top: 150px;
    }

    .orbBackground {
        width: 400px;
        height: 400px;
        filter: blur(20px);
    }

    .cardContainer {
        gap: 0;
    }

    .card1, .card2, .card3 {
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 10px;
        height: 250px;
        width: 400px;
        font-size: 1rem;
    }
}
