:root {
  --primary-bg: black;
  --primary-text: white;
  --accent: #4B004F;
  --hover: purple;
}

/* === General === */
.homeBody {
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

.appContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.darkveilCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.content {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 3.2rem;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}

/* === Servicios === */
.containerProc {
  border: 1px white solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin: 20px;
}

.containerDescription {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 4px 10px var(--accent);
}

.image {
  width: 300px;
  height: 350px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: var(--primary-bg);
  border: 1px solid var(--primary-text);
  padding: 10px;
  border-radius: 10px;
  flex: 1 1 300px;
  text-align: center;
}

.description h2 {
  font-size: 2rem;
  font-family: "Lavishly Yours", cursive;
}

.description p {
  font-size: 1.2rem;
  padding: 10px;
  font-family: "Lavishly Yours", cursive;
}

/* === Botones === */
.btnBase {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
}

.btnPrimary {
  background: var(--primary-text);
  color: var(--primary-bg);
  border: 3px solid var(--primary-text);
  height: 50px;
  width: 220px;
}

.btnPrimary:hover {
  background: var(--primary-bg);
  color: var(--primary-text);
}

.verUbicacion {
  color: var(--primary-text);
  font-size: 14px;
  font-weight: 500;
}

.verUbicacion:hover {
  color: var(--hover);
}

/* === Publicidad === */
.orbContainer {
  width: 100%;
  height: 600px;
  position: relative;
}

.publContainer {
  border: 1px solid var(--primary-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(179, 179, 179, 0.2);
  height: 500px;
  width: 500px;
}

.publContainer h2 {
  font-size: 2.5rem;
}

.publDescription {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.linea {
  width: 10%;
  height: 3px;
  background-color: var(--primary-text);
  margin: 20px auto;
  border-radius: 2px;
}

.publContainer p {
  font-size: 1.2rem;
}

.socialLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.icons {
  display: flex;
  gap: 20px;
  font-size: 2rem;
}

.icons a {
  color: var(--primary-text);
  transition: color 0.3s ease;
}

.icons a:hover {
  color: var(--hover); 
}

/* === Responsive === */
@media (max-width: 760px) {
  .content {
    font-size: 2rem;
  }

  .image {
    width: 250px;
    height: 250px;
  }

  .btnPrimary {
    height: 40px;
    width: 180px;
  }

  .description h2 {
    font-size: 1.8rem;
  }

  .description p {
    font-size: 1.1rem;
    text-align: center;
  }

  .publContainer {
    width: 250px;
    height: 400px;
  }

  .publContainer h2 {
    font-size: 1.5rem;
  }

}
