body {
    background-color: black;
}

/* Contenedor general */
.nosotrosContainer {
    max-width: 900px;
    margin: 0 auto;
    padding: 60px 20px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
}

/* Título principal */
.titleNosotros {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.titleNosotros::after {
    content: "";
    width: 60px;
    height: 4px;
    background: #34004d;
    display: block;
    margin: 10px auto 0;
    border-radius: 2px;
}

.nosotrosText{
    border: 1px solid white;
    padding: 20px;
}

/* Subtítulos */
.titleText {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 30px;
    color: rgb(117, 1, 133);
}

/* Párrafos */
.nosotrosText p {
    margin-top: 10px;
    color: #ffffff;
}

/* Sección destacada */
.diferente {
    margin-top: 40px;
    background: pink;
    padding: 25px;
    border-radius: 12px;
}

/* Lista con emojis */
.emojis {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

.emojis li {
    margin: 8px 0;
    font-size: 1.1rem;
}

@media (max-width: 760px) {

    .titleNosotros{
        padding-top: 80px;
    }
    
}