.appContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

body{
    background-color: black;
}

.darkveilCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.content {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 3.2rem;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    text-align: center;
}

.containerProc {
    background-color: #240131;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    margin: 5px;
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.image {
    width: 550px;
    height: 450px;
}

.description {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.btn button {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 10px;
    height: 60px;
    border-radius: 10px;
    transition: 0.2s;
}

.btn h1{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.btn button:hover{
    background-color: black;
    transition: 0.2s;
}

.btn a {
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    transition: 0.2s;
}

.btn a:hover{
   transition: 0.2s;
   color: white;
}

.description p {
    font-size: 1.2rem;
    padding: 10px;
    color: #E28AFF;
    font-family: "Lavishly Yours", cursive;
    font-weight: 400;
    font-style: normal;

}




@media (max-width:760px) {

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 2rem;
    }

    .image {
        width: 350px;
        height: 350px;
    }

    .btn a {
        font-size: 1.4rem;
    }

    .description p{
        font-size: 2.3rem;
        text-align: center;
    }


}